a {
  text-decoration: none;
}

.sidebar {
  width: 20px;
  height: 200px;
  background-color: navy;
  border: 1px solid black;
  transition: width 1s, height 1.5s;
  color: #fff;
}

.sidebar:hover {
  width: 150px;
}

.menu-list {
  list-style: none;
}

.sidebar:hover::after {
  content: attr();
}
