.button {
   background-color: grey;
   color: white;
   transition: 500ms;
   border: 0;
   text-align: center;
   position: relative;
   margin: 50px;
   width: 300px;
   height: 80px;
   padding-top: 5px;
}

.button:hover {
   background-color: red;
   cursor: pointer;
   transition: 1s;
}

.button::after {
   content: "3";
   width: 40px;
   color: white;
   text-align: center;
   background-color: red;
   border-radius: 50%;
   font-size: 30px;
   font-weight: bold;
   padding: 10px;
   position: absolute;
   top: -25px;
   right: -25px;
   transition: 500ms;

}

.button:hover::after {
   color: rgba(220,220,220,0);
   position: absolute;
   top: 8px;
   right: 150px;
   transition: 500ms;
   z-index: -1;
}